.vs*/
.settings/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.[ms]o

# Unit test / coverage reports
htmlcov/
.[nt]ox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.pot
*.log
local_settings.py

# Spyder project settings
.spyderproject
.spyproject
.project
.buildpath

# Pyre type checker
.pyre/
.idea/